<mat-card>
  <mat-card-header>
    <mat-card-title>template From </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #templetform="ngForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          required
          name="email"
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          [(ngModel)]="formData.email"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          required
          name="phoneNumber"
          type="text"
          matInput
          placeholder="+91 888 888 22 22"
          [(ngModel)]="formData.phone"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input
          name="age"
          type="number"
          matInput
          placeholder="22"
          [(ngModel)]="formData.age"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)="submit( templetform.value)">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
  <pre>
    {{ templetform.valid | json }}
  </pre>
  <pre>
    {{ templetform.value | json }}
  </pre>
  <pre>
    {{ formData | json }}
  </pre>
</mat-card>
