<p>ngIf directive</p>
<p *ngIf="ngIf">The NgIf expression is {{ ngIf }}</p>
<p *ngIf="false">The NgIf expression is {{ ngIf }}</p>
<!-- never going to add to the dome -->

<!-- the ngIf if remove the element in the dom tree rather then hidden -->
<p>ngFor directives</p>
<!-- NgFor -->
<div>
  <p *ngFor="let item of ngForData">{{ item.data }}</p>
</div>

<div [ngSwitch]="ngSwitch">
  <div *ngSwitchCase="'one'">one is selected</div>
  <div *ngSwitchCase="'second'">
    second is selected
    <p>nested node</p>
  </div>
  <div *ngSwitchCase="'three'">three is selected</div>
</div>

<!--Attribute directive  -->

<label>
  Attribute directive:
  <br />
  <input type="text" [(ngModel)]="attribute" placeholder="Test" />
</label>

<h4>
  Attribute binding value changes
  <p>
    {{ attribute }}
  </p>
</h4>

<!-- Custom Directive -->
<h2>Hover Over </h2>
<h3 appCustomeDirectives>Custom Directive</h3>


<!-- Host Listener and Host Binding -->
<button appCustomeDirectives>
  Click me
</button>
