<p>top-commponent works!</p>

<app-child-commponent
  [dataFromTopComponent]="names"
  (displayData)="display($event)"
  (hideData)="hide($event)"
>
</app-child-commponent>

<h2 *ngIf="displayData">Hai displayData is true! ......</h2>
