<p>child-commponent works!</p>

<pre>
  {{ dataFromTopComponent | json }}
</pre>

<button (click)="displayData.emit(true); $event.stopPropagation()">
  Display Data
</button>
<button (click)="hideData.emit(false); $event.stopPropagation()">
  Hide Data
</button>
