<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  Value : {{ myForm.value | json }}
  <hr />
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="gender" placeholder="Gender">
      <mat-option *ngFor="let gender of genderSelect" [value]="gender.key">
        {{ gender.value }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button type="submit">Submit</button>
</form>
