<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  Value : {{ myForm.value | json }}
  <hr />
  <mat-form-field>
    <input matInput type="text" placeholder="Email" formControlName="email" />
  </mat-form-field>
  <div formGroupName="homePhone">
    <mat-form-field>
      <input matInput type="text" placeholder="area" formControlName="area" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="prefix"
        formControlName="prefix"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="line" formControlName="line" />
    </mat-form-field>
  </div>

  <div formGroupName="personalPhone">
    <mat-form-field>
      <input matInput type="text" placeholder="area" formControlName="area" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="prefix"
        formControlName="prefix"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="line" formControlName="line" />
    </mat-form-field>
  </div>

  <button type="submit">Submit</button>
</form>
