<h1>Rx.js subject</h1>
<form #subjectMessage="ngForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      name="message"
      type="text"
      matInput
      placeholder="message"
      [(ngModel)]="formData.message"
    />
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <input type="button" value="Send" (click)="setMessage(formData.message)" />
</form>

<pre>
  {{ formData | json }}
</pre>

<pre>
  currentMessageStream
  {{ currentMessageStream }}
</pre>
