<section>
  <div *ngIf="posts">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Posts</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let post of posts">
            <h2 matLine>
              {{ post.title }}
            </h2>
            <p matLine>
              {{ post.body }}
            </p>
            <a href="post?id={{ post.id }}"> See the post </a>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<app-post></app-post>
